<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getAccount()}">VALUE</p>
<p th:text="${person.getValue()}">VALUE</p>

<a th:href="@{/people/{account}/edit(account=${person.getAccount()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{account}(account=${person.getAccount()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>